#footer{
    font-size: 14px;
    font-family:"微软雅黑";
    margin-top: 150px;
    color: #888;
    background: rgba(200,200,200,0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#footer a{
    font-size: 24px;
    text-decoration: none;
}
#footer a:hover{
    font-size: 26px;
    text-decoration: underline;
}

#footer a:focus{
    color: #888;
}

#footer a:active{
    color: #888;
}

#footer a:visited{
    color: #888;
}